body
{
    background-color: khaki;
    font-size: x-large;
    padding: 20px;
}

.Label
{
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.BigLabel
{
    display: block;
    font-size: larger;
    margin-bottom: 50px;
}

.Textbox
{
    width: 300px;
    padding: 10px;
    font-size: x-large;
}

.Button
{
    display: inline-block;
    margin: 10px 10px 10px 30px;
    padding: 10px;
    border: 5px solid green;
    border-radius: 20px;
    background-color: greenyellow;
}

.Button:hover
{
    background-color: yellow;
    cursor: pointer;
}

div[id="DynamicTableContainer"]
{
    height: 300px;
    margin-top: 30px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

table
{
    border-collapse: collapse;
}

div[id="DynamicTableContainer"] td
{
    background-color: whitesmoke;
    text-align: center;
}

div[id="DynamicTableContainer"] td:hover
{
    background-color: transparent;
}
